{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a simple API",
    "version" : "1.0.0",
    "title" : "Super Hero API",
    "contact" : {
      "email" : "natalinyweb@hotmail.com"
    },
    "license" : {
      "name" : "MIT"
    }
  },
  "host" : "super-hero.space/api/",
  "basePath" : "/",
  "tags" : [
    { "name" : "characters", "description" : ""}
  ],
  "schemes" : [ "http" ],
  "paths" : {
    "characters": {
      "get": {
        "tags" : [ "characters" ],
        "summary" : "searches characters",
        "description" : "Characters List",
        "produces" : [ "application/json" ],
        "parameters" : [],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/CharacterItem"
              }
            }
          },
          "400" : {
            "description" : "bad request"
          }
        }
      }
    },
    "character/{id}": {
      "get": {
        "tags" : [ "characters" ],
        "summary" : "searches for particular character",
        "description" : "By passing in the appropriate options, you can search for specified characters",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "character id",
            "required" : true,
            "type" : "integer"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/CharacterItem"
              }
            }
          },
          "400" : {
            "description" : "bad request"
          }
        }
      }
    },
    "search": {
      "get": {
        "tags" : [ "characters" ],
        "summary" : "searches characters",
        "description" : "By passing in the appropriate options, you can search for specified characters",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "name",
            "in" : "query",
            "description" : "Search by Character Name",
            "required" : false,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/CharacterItem"
              }
            }
          },
          "400" : {
            "description" : "bad request"
          }
        }
      }
    }
  },
  "definitions" : {
    "CharacterItem" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "name" : {
          "type" : "string",
          "example" : "Emma Frost"
        }
      }
    }
  }
}